<p> Add your comment to the Makers' website </p>
<form action="/comments" method="post">
  Comment: <input type="text" name="note"><br>
  Name: <input type="text" name="firstname"><br>

  <input type="submit">
</form>