<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/theme.css"/>
  </head>
  <body>
  	 <h4 class="hf">Makers' list </h4>
       <%= yield %>
     <h4 class="hf">25, Old Street, London</h4>
  </body>
</html>