<html>
<head>
  <link rel="stylesheet" type="text/css" href="theme.css">
</head>
  <body>
	<p>Here it is:</p>
    <p>
      <strong> hello world </strong>
    </p>
    <img src="/strongcrm.png">
   <div><ul>
    	<li>this is a list</li>
    	<li>this is also a list</li>
    	<li>haha part 3 of the list</li>
    </div></ul>
    <%= yield %>
  </body>
  <a class="twitter-timeline" href="https://twitter.com/twitterapi" data-widget-id="YOUR-WIDGET-ID-HERE">Tweets by @twitterapi</a>
  <div>
  <video width="320" height="240" controls>
    <source src="/movie.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
</html>