<html>
  <body>
	<p>Here it is:</p>
    <p>
      <strong> hello world </strong>
    </p>
    <img src="/strongcrm.png">
    <ul>
    	<li>this is a list</li>
    	<li>this is also a list</li>
    	<li>haha part 3 of the list</li>
    </ul>
    <%= yield %>
  </body>
  <a class="twitter-timeline" href="https://twitter.com/twitterapi" data-widget-id="YOUR-WIDGET-ID-HERE">Tweets by @twitterapi</a>
</html>