
<div><ul>
      <% @contacts.each do |contact| %>
        <p>name: <%= contact.name %></p>
        <p>age: <%= contact.age %></p>
      <p>sex: <%= contact.sex %></p>
      <p>id: <%= contact.id %></p>
      <p></p>
      <% end %>


    </div></ul>