 <p> Add yourself to the makers list </p>

<form action="/users" method="post">
	Name: <input type="text" name="firstname"><br>
 	Age: <input type="text" name="age"><br>
  <table border="0">
   <tr>
     <td><input type="radio" name="sex" value="male">Male<br></td>
     <td><input type="radio" name="sex" value="female">Female<br></td>
   </tr>
  </table>

  <!-- Twitter: <input type="text" name="twitter"><br> -->
	<input type="submit">
</form>
